{% extends 'main/base.html' %}

{% block content %}

    {% include 'services/search_box.html' %}

    <div class="row bckgr-gray" id="news">
        <div class="container">
            <h2 class="text-center">Новости</h2>

            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4><b>Новость 1</b></h4>
                        <p>Spisso motura aquae fuit
                            nabataeaque campos ultima
                            zonae numero vis.</p>
                    </div>
                </div>
            </div> <!-- end col-sm-6 -->

            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4><b>Новость 2</b></h4>
                        <p>Spisso motura aquae fuit
                            nabataeaque campos ultima
                            zonae numero vis.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4><b>Новость 3</b></h4>
                        <p>Spisso motura aquae fuit
                            nabataeaque campos ultima
                            zonae numero vis.</p>
                    </div>
                </div>
            </div>
        </div> <!-- end container -->
    </div> <!-- end row -->


    <div class="row" id="partners">

        <div class="container text-center">
            <h3>Специалисты</h3>

            <div class="col-xs-6 col-sm-2 col-sm-offset-1 col-md-2 col-lg-2 ">
                <div class="thumbnail">
                    <img src="http://placehold.it/100"/>
                </div>
            </div>

            <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
                <div class="thumbnail">
                    <img src="http://placehold.it/100"/>
                </div>
            </div>

            <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
                <div class="thumbnail">
                    <img src="http://placehold.it/100"/>
                </div>
            </div>

            <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
                <div class="thumbnail">
                    <img src="http://placehold.it/100"/>
                </div>
            </div>

            <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2">
                <div class="thumbnail">
                    <img src="http://placehold.it/100"/>
                </div>
            </div>


        </div> <!-- end container -->
    </div><!--end partners-->
{% endblock content %}